{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "14"
      },
      "modules": "commonjs"
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types"
  ],
  "sourceMaps": "inline",
  "retainLines": true
}
